<p>Hello!</p>

<p>Someone has requested a link to change your password for the <i>Reasoning API</i>. You can do this through the link below:</p>

<p><%= edit_password_url(@resource, reset_password_token: @token, host: Rails.application.credentials[Rails.env.to_sym][:domain_name])%></p>

<p>Your login is: <%= @resource.email %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p><%= root_url(host: Rails.application.credentials[Rails.env.to_sym][:domain_name]) %></p>